<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">Meet Derek</a>
        </li>
        <li>
            <a href="/issues">Vision</a>
        </li>
        <li>
            <a href="/events">Events</a>
        </li>
        <li>
            <a href="/news">News</a>
        </li>
        <li>
            <a href="/join">Join</a>
        </li>
        <li>
            <a href="/contribute">Contribute</a>
        </li>
    </ul>
</nav>

<div class="info">
    <address>
        Friends of Derek Kent<br>
        PO Box 647<br>
        Hanover, MD 21076
    </address>

    <div class="paid">
        <span>Authority: Friends of Derek Kent, Phaby Kent, Treasurer</span>
    </div>

    <span>© {new Date().getFullYear()} Friends of Derek Kent</span>
    <span> | </span>
    <span>
        <a href="/privacy">Privacy Policy</a>
    </span>
</div>

<div class="md5">9ec4c12949a4f31474f299058ce2b22a</div>
