<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">Meet Derek</a>
        </li>
        <li>
            <a href="/issues">Vision</a>
        </li>
        <li>
            <a href="/news">News</a>
        </li>
        <li>
            <a href="/map">Map</a>
        </li>
        <li>
            <a href="/join">Join</a>
        </li>
    </ul>
</nav>

<div class="info">
    <address>
        Friends of Derek Kent<br>
        PO Box 647<br>
        Hanover, MD 21076
    </address>

    <div class="connect">
        <a href="https://facebook.com/DerekKentMD" data-local="true">
            <img src="/images/social/facebook.svg" alt="Facebook">
        </a>
        <a href="https://twitter.com/DerekKent" data-local="true">
            <img src="/images/social/twitter.svg" alt="Twitter">
        </a>
        <a href="/contact">
            <img src="/images/icons/e-mail.svg" alt="E-mail">
        </a>
    </div>

    <div class="paid">
        <span>Authority: Friends of Derek Kent, Phaby Kent, Treasurer</span>
    </div>

    <span class="copyright">No Rights Reserved</span>
    <span class="privacy"><a href="/privacy">Privacy Policy</a></span>
    <span class="accessibility"><a href="/accessibility">Accessibility</a></span>
</div>

<div class="md5">9ec4c12949a4f31474f299058ce2b22a</div>
