@import 'variables';
@import 'mixins';

.issues_infrastructure-page {
    margin-bottom: 6rem;

    > .banner {
        background-image: url('/images/banners/bench.jpg');

        @media (min-width: 1200px) {
            background-position: center 25%;
        }
    }
}
