@import 'variables';
@import 'mixins';

blockquote {
    border-left: 1rem solid #ccc;
    margin: 6rem -3rem;
    padding: 1rem 3rem;
    position: relative;
    quotes: '“' '”' '‘' '’';
    text-align: justify;

    &::after,
    &::before {
        color: rgba(color(black), 0.1);
        font-size: 15em;
        line-height: 0;
        vertical-align: -0.4em;
    }

    &::before {
        content: open-quote;
        left: 0.1em;
        position: absolute;
        top: 0.3em;
    }

    &::after {
        bottom: -0.3em;
        content: close-quote;
        position: absolute;
        right: 0.1em;
    }
}
