@import 'variables';
@import 'mixins';

.issue-blocks {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    h2 {
        margin-bottom: 0;
    }

    img {
        height: auto;
        width: 17rem;
    }

    > li {
        flex: 1 1 29%; // Set to 29% instead of 33% for IE11
        padding: 1.5rem;

        @include tablet {
            flex: 1 1 50%;
        }

        @include phone {
            flex: 1 1 100%;
        }

        > a > h2 {
            font-size: 2rem;
            text-align: center;
        }
    }
}
