@import 'variables';
@import 'mixins';

$notice-colors: (
    red,
    yellow,
    green,
    blue
);

.notice {
    background-color: color(yellow, lighter);
    border: 0.1rem solid color(yellow, light);
    color: color(yellow, darker);
    display: inline-block;
    font-family: $serif;
    margin: 0 0 1rem;
    padding: 1.5rem;
}

@each $color in $notice-colors {
    .notice-#{$color} {
        background-color: color($color, lighter);
        border-color: color($color, light);
        color: color($color, darker);

        @include wcag2-aa {
            background-color: lighten(color($color, lighter), 3%);
            color: darken(color($color, darker), 3%);
        }

        @include wcag2-aaa {
            background-color: lighten(color($color, lighter), 5%);
            color: darken(color($color, darker), 5%);
        }
    }
}
