@import 'variables';
@import 'mixins';

.page {
    margin-bottom: 6rem;

    article {
        margin: 0 auto;
        max-width: 80rem;

        @media (max-width: 889px) {
            max-width: 90%;
        }

        > p:first-of-type {
            margin-top: 0;
        }
    }

    .youtube-video-wrapper {
        margin: 3rem auto;
        max-width: 56rem;
    }

    .youtube-video {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        &.four-by-three {
            padding-bottom: 75%;
        }

        > iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .back-to-issues {
        display: block;
        font-size: 1.5em;
        margin: 3rem auto 0;
        text-align: center;
    }
}
