@import 'variables';
@import 'mixins';

.page {
    margin-bottom: 6rem;

    article {
        margin: 0 auto;
        max-width: 80rem;

        @media (max-width: 889px) {
            max-width: 90%;
        }

        > p:first-of-type {
            margin-top: 0;
        }
    }

    iframe {
        display: block;
        margin: 0 auto;
    }

    .back-to-issues {
        display: block;
        font-size: 1.5em;
        margin: 3rem auto 0;
        text-align: center;
    }
}
