@import 'variables';
@import 'mixins';

.news-page {
    > .banner {
        background-image: url('/images/banners/bench.jpg');

        @media (min-width: 1200px) {
            background-position: center 25%;
        }
    }

    .press-release,
    .newsletter {
        color: color(gray, darker);
        margin-top: 0.5rem;
        margin-bottom: 9rem;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            color: color(red);
            font-family: $sans-serif;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }

        > h2 {
            margin-top: 0;
        }

        .location {
            > .city {
                text-transform: uppercase;
            }
        }

        > time {
            color: color(gray);
            letter-spacing: 0.2rem;
            text-transform: uppercase;
        }
    }

    .press-release::before {
        content: 'Press Release';
    }

    .newsletter::before {
        content: 'Newsletter';
    }

    .center {
        text-align: center;
    }

    .btn {
        margin: 1.5rem;
    }
}
