<template args="endorsements">
    <h2>Endorsements</h2>
    <div class="view-all"><a href="/endorsements">View All</a></div>
    <ul>
        <li each="endorsement in endorsements">
            <if condition="endorsement.link">
                <a href="{endorsement.link}" rel="nofollow">
                    <img src="{endorsement.image}" alt="{endorsement.name}">
                </a>
            <else>
                <img src="{endorsement.image}" alt="{endorsement.name}">
            </if>
        </li>
    </ul>
</template>
