@import 'variables';
@import 'mixins';

.issues_environmental-page {
    margin-bottom: 6rem;
    text-align: center;

    > .banner {
        background-image: url('/images/banners/environment.jpg');
    }
}
