@import 'variables';
@import 'mixins';

.join-page {
    > .banner {
        background-image: url('/images/banners/get-involved.jpg');

        &.joined {
            background-image: url('/images/banners/sitting-group.jpg');
            background-position: center bottom;
        }
    }
}
