@import 'variables';
@import 'mixins';

.map-page {
    border-top: 1px solid color(gray, light);
    padding: 0 2rem;
    text-align: center;

    h1 {
        text-align: center;
    }

    form {
        margin-bottom: 3rem;
    }

    > article {
        text-align: center;
    }

    .district32-map {
        background-color: color(gray, lighter);
        height: 40vw;
        margin: 0 auto;
        width: 50vw;

        @include phone {
            width: 100%;
        }
    }
}
