@import 'variables';
@import 'mixins';

.privacy-page {
    > .banner {
        background-image: url('/images/banners/bench.jpg');

        @media (min-width: 1500px) {
            background-position: center 25%;
        }
    }

    .dnt-info {
        border: 0.1rem solid color(black);
        padding: 0 3rem;

        > .opt-in,
        > .opt-out {
            display: block;
            font-size: 1em;
            margin: 0 auto 2.5rem;
        }
    }

    .last-update {
        color: color(gray, lighter);
        font-family: $sans-serif;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}
