@import 'variables';
@import 'mixins';

.page-banner {
    background-color: color(yellow, dark);
    padding: 1rem;
    text-align: center;

    &:hover {
        background-color: color(yellow, darker);
    }

    &.banner-alert {
        background-color: color(red, dark);

        &:hover {
            background-color: color(red, darker);
        }
    }

    &.banner-notice {
        background-color: color(orange, dark);

        &:hover {
            background-color: color(orange, darker);
        }
    }

    a {
        display: block;
    }

    a,
    span {
        color: color(white);
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }
}
