@import 'variables';
@import 'mixins';

.issues_gerrymandering-page {
    margin-bottom: 6rem;

    img {
        display: block;
        margin: 0 auto;
    }

    > .banner {
        background-image: url('/images/banners/bench.jpg');

        @media (min-width: 1200px) {
            background-position: center 25%;
        }
    }
}
