@import 'variables';
@import 'mixins';

.issues_wages-page {
    margin-bottom: 6rem;
    text-align: center;

    > .banner {
        background-image: url('/images/banners/bench.jpg');

        @media (min-width: 1500px) {
            background-position: center 25%;
        }
    }
}
