@import 'variables';
@import 'mixins';

.issues_education-page {
    margin-bottom: 6rem;

    img {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    > .banner {
        background-image: url('/images/banners/education.jpg');
    }
}
