@import 'variables';
@import 'mixins';

.accessibility-page {
    .banner {
        background-image: url('/images/accessibility/one-world.jpg');
    }

    .accessibility-level {
        display: flex;
        list-style-type: none;
        padding: 0;
        text-align: center;

        > li {
            display: inline-block;
            flex: 1 1 25%;
            font-size: 3rem;
            margin: 0 3rem;
        }
    }

    .aa,
    .aaa {
        align-items: center;
        display: flex;

        &::before {
            font-size: 1.4rem;
            margin-right: 1rem;
            padding: 0.5rem 0.75rem;
        }
    }

    .aa::before {
        background-color: color(harebell);
        color: white;
        content: 'AA';
    }

    .aaa::before {
        background-color: color(blue);
        color: white;
        content: 'AAA';
    }
}
