@import 'variables';
@import 'mixins';

.accessibility-page {
    > .banner {
        background-image: url('/images/banners/bench.jpg');

        @media (min-width: 1200px) {
            background-position: center 25%;
        }
    }

    .level {
        color: color(blue);
        display: block;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .accessibility-level {
        display: flex;
        list-style-type: none;
        padding: 0;
        text-align: center;

        @include mobile {
            flex-wrap: wrap;
        }

        > li {
            display: inline-block;
            flex: 1 1 33%;
            font-size: 3rem;
            margin: 0 3rem;
            position: relative;

            @include mobile {
                flex-basis: 100%;
                margin: 1rem 0;
            }

            &[aria-checked="true"] {
                box-shadow: inset 0 0 3px 3px rgba(color(black), 0.5);
            }
        }
    }

    .aa,
    .aaa {
        align-items: center;
        display: flex;

        &::before {
            font-size: 1.4rem;
            margin-right: 1rem;
            padding: 0.5rem 0.75rem;
        }
    }

    .aa::before {
        background-color: color(harebell);
        color: white;
        content: 'AA';
    }

    .aaa::before {
        background-color: color(blue);
        color: white;
        content: 'AAA';
    }
}
