$colors: (
    red: (
        lighter: #f7d9da,
        light: #f1bcbf,
        base: #d9222a,
        dark: #bd0f18,
        darker: #a10008
    ),
    green: (
        lighter: #d8f0d8,
        light: #c6e9c6,
        base: #1fad1f,
        dark: #0c8b0c,
        darker: #006e00
    ),
    blue: (
        lighter: #d9daf7,
        light: #bcbff1,
        base: #292d78,
        dark: #1a1d5c,
        darker: #0e1145
    ),
    orange: (
        lighter: #ffc87f,
        light: #e9a850,
        base: #d88c27,
        dark: #ad6b12,
        darker: #864d00
    ),
    yellow: (
        lighter: #fcf8e3,
        light: #faf2cc,
        base: #d8ba27,
        dark: #ae930f,
        darker: #897200
    ),
    teal: (
        lighter: #d8f0e6,
        light: #c6e9da,
        base: #1b9460,
        dark: #0c7749,
        darker: #005c34
    ),
    gray: (
        lighter: #e6e6e6,
        light: #ccc,
        base: gray,
        dark: #4c4c4c,
        darker: #323232
    ),
    serenity: (
        lighter: lighten(#91a8d0, 20%),
        light: lighten(#91a8d0, 10%),
        base: #91a8d0,
        dark: darken(#91a8d0, 5%),
        darker: darken(#91a8d0, 10%)
    ),
    harebell: (
        lighter: lighten(#6a6fc4, 20%),
        light: lighten(#6a6fc4, 10%),
        base: #6a6fc4,
        dark: darken(#6a6fc4, 5%),
        darker: darken(#6a6fc4, 10%)
    ),
    links: (
        lighter: lighten(#208feb, 20%),
        light: lighten(#208feb, 10%),
        base: #208feb,
        dark: darken(#208feb, 10%),
        darker: darken(#208feb, 20%)
    ),
    background: (
        lighter: lighten(#f0f3fa, 20%),
        light: lighten(#f0f3fa, 10%),
        base: #f0f3fa,
        dark: darken(#f0f3fa, 10%),
        darker: darken(#f0f3fa, 20%)
    ),
    black: black,
    white: white
);

@function color($color, $shade: 'base') {
    $hue: null;

    @if map-has-key($colors, $color) {
        $hue: map-get($colors, $color);
    }

    @if (type-of($hue) == color) {
        @return map-get($colors, $color);
    }

    @if (type-of($hue) == map) {
        @if map-has-key($hue, $shade) {
            @return map-get($hue, $shade);
        }

        @warn 'Unknown shade `#{$shade}` in `#{$color}`.';
        @return null;
    }

    @warn 'Unknown `#{$color}` in $colors.';
    @return null;
}
