@import 'variables';
@import 'mixins';

.home-page {
    text-align: center;

    h1 {
        text-align: center;
    }

    > .banner {
        background-image: url('/images/banners/home.jpg');
        margin-left: -17rem;
        padding-left: 17rem;

        @include mobile {
            background: none;
            height: auto;
            margin: 0;
            max-height: none;
            min-height: auto;
            padding: 0;

            &::after {
                height: 0;
            }
        }
    }

    .join {
        background-color: color(blue, darker);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        height: 45rem;
        padding: 4rem 4rem 16rem 16rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 48.5rem;

        @include mobile {
            border-radius: 0;
            height: auto;
            margin-bottom: 1.5rem;
            padding: 3rem;
            position: static;
            width: 100%;
        }

        @include wcag2-aaa {
            background-color: color(blue, dark);
        }

        > form {
            width: 100%;
        }

        fieldset {
            margin-top: 0;

            > legend {
                color: color(white);
                font-size: 2.9rem;
                margin-bottom: 0.5rem;
                text-align: center;
            }
        }

        input {
            border: 0;
            margin-top: 1em;
        }

        .thanks {
            align-self: center;
            font-size: 5rem;
            margin: 0 auto;
        }

        .btn-serenity {
            text-shadow: 0.1rem 0 0.1rem color(blue);

            &::placeholder {
                color: white;
            }
        }
    }

    .donation-wrapper {
        align-items: stetch;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        span {
            flex: 0 1 45%;
            padding: 0.85rem 0;
            text-align: center;
        }

        label {
            border-radius: 0.5rem;
            font-size: 1.8rem;
            height: 4.7rem;
            margin-top: 0;
            padding: 1rem;
            width: 100%;
        }
    }

    .donate-other {
        label {
            padding: 0;
        }

        span {
            display: none;
        }

        input {
            cursor: pointer;
            display: inline-block;
            font-family: $serif;
            font-size: 1.8rem;
            font-weight: bold;
            height: 4.7rem;
            letter-spacing: 0.1rem;
            margin-top: 0;
            outline: 0;
            text-align: center;
            width: 100%;
        }
    }

    .know-your-rep {
        width: 100%;

        @include phone {
            margin-left: -5%;
            width: 110%;
        }

        > caption {
            color: color(blue);
            font-size: 4.8rem;
            font-weight: bold;
            margin-bottom: 0.4em;
            margin-top: 0.4em;
        }

        thead {
            th {
                color: color(gray, darker);
                white-space: nowrap;
            }

            img {
                max-height: 100%;
                max-width: 30vw;
            }
        }

        th,
        td {
            margin: 0;
            padding: 0 1rem;
            position: relative;
            text-align: center;

            @include phone {
                font-size: 0.8em;
                padding: 0 0.5rem;
            }

            > img {
                vertical-align: middle;
            }

            > sup {
                position: absolute;
                right: 0;
                top: 0;
                vertical-align: top;
            }
        }

        tbody th {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: rgba(color(gray, light), 0.33);
        }

        th:nth-child(n+3),
        td:nth-child(n+3) {
            opacity: 0.5;
        }

        th:nth-child(n+4),
        td:nth-child(n+4) {
            @include mobile {
                display: none;
            }
        }
    }

    .toggle-citations {
        color: color(links);
        cursor: pointer;
        display: inline-block;
        font-size: 0.9em;
        user-select: none;

        @include wcag2-aa {
            color: color(links, dark);
        }

        @include wcag2-aaa {
            color: color(links, dark);
        }

        &::after {
            content: '▸';
            margin-left: 0.5rem;
        }

        &.show {
            &::after {
                content: '▾';
            }
        }
    }

    .citations {
        font-size: 0.9em;
    }

    .starts-with-you {
        margin-bottom: 6rem;
        margin-top: 3rem;

        p {
            font-size: 1.1em;
            text-align: left;
        }
    }
}
