@import 'variables';
@import 'mixins';

.home-page {
    text-align: center;

    > .intro {
        background-color: lightblue;
        background-image: url('/images/home/intro-bg.jpg');
    }

    .join {
        background-color: color(blue, darker);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 45rem;
        padding: 4rem 4rem 16rem 16rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 48.5rem;

        @include wcag2-aaa {
            background-color: color(blue, dark);
        }

        .btn-serenity {
            text-shadow: 0.1rem 0 0.1rem color(blue);
        }

        input {
            border: 0;
        }
    }

    .donate {
        .input-wrapper {
            align-items: stetch;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            input {
                display: none;
            }

            span {
                flex: 0 1 50%;
                padding: 0.85rem 0;
                text-align: center;
            }

            label {
                border-radius: 0.5rem;
                font-size: 1.8rem;
                height: 4.7rem;
                padding: 1rem;
                width: 9rem;
            }
        }
    }
}
