@import 'variables';
@import 'mixins';

.issues_elections-page {
    margin-bottom: 6rem;

    blockquote {
        text-align: center;
    }

    > .banner {
        background-image: url('/images/banners/modern-elections.jpg');
        background-position: center top;
    }
}
